<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ppcomp.knu">
    <!-- 통신을 위해 필요한것들 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name="com.ppcomp.knu.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ppcomp.knu.Madeby"/>
        <activity
            android:name="com.ppcomp.knu.KeywordActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName="com.ppcomp.knu.Setting" />
        <activity android:name="com.ppcomp.knu.SubscriptionAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.ppcomp.knu.SubscriptionActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName="com.ppcomp.knu.Setting" /> <!-- adjustNothing : 키보드가 화면에 영향 안주도록 -->
        <activity android:name="com.ppcomp.knu.License" />
        <activity
            android:name="com.ppcomp.knu.Setting"
            android:parentActivityName="com.ppcomp.knu.MainActivity" />
        <activity android:name="com.ppcomp.knu.SubList" />
        <activity
            android:name="com.ppcomp.knu.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ppcomp.knu.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>